body {
	background-image: url(../img/pattern.png);
}

p {
  color: red;
}

button {
  background-color: black;
}

a {
  color: yellow;
}

.vk0 {
  background-color: yellow;
  height:580px;
  width:560px;
}

.vk1 {
  background-color: yellow;
  height:840px;
  width:560px;
}

.vk2 {
  background-color: yellow;
  height:420px;
  width:560px;
}