body {
	background-image: url(../img/pattern.png);
}

p {
  color: red;
}

button {
  background-color: black;
}

a {
  color: yellow;
}

.vk0 {
  background-color: yellow;
  height:590px;
  width:560px;
}

.vk1 {
  background-color: yellow;
  height:850px;
  width:560px;
}