body {
	background-image: url(../img/pattern.png);
}

p {
  color: red;
}

button {
  background-color: black;
}

a {
  color: yellow;
}

/*Поехали в деревню, собирал ягоды и решил, что надо вместо дофоминового голодания сделать идеальный день за девять дней
Теория моего идеального дня, встать в четыре утра, выключить будильник помыться, почистить зубы
сделать зарядку, посмотреть познавательные видео, читать до семи или тринадцать часов, позавтракать дальше
Отдых, работа огород или что-нибудь другое с шестнадцать или восемнадцать
до восьми серфинг в Интернете с восьми до 13 гуляю, или туса потом зарядка и чтение

А если соединиться идеальные моменты, с минус первого дня до первого дня получится
стал в четыре утра, выключил будильник включил наутбок занимался Матикой до 13, а вот день идеальным с минус Первого 
до первого дня у меня еще не было, невозможно так что день или вся жизнь была идеальной, даже если возможно, 
то когда-нибудь устанешь от того, что все идеально, а вечером посмотреть видео в ютуб, вот такай будет почти идеальный день, 
если взять идеальные моменты из этого эксперимента, но если долго чем-то заниматься без остановки, то можно сталкнутся с выгоранием*/
